.image-upload {
  height: 430px;
  width: 430px;
  margin: auto;
  font-family: 'Poppins', sans-serif;
}
.image-wrapper {
  position: relative;
  height: 250px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  border: 2px dashed #c2cdda;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  .image {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .icon {
    color: #9658fe;
    svg {
      width: 100px;
      height: 100px;
    }
  }
  .text {
    font-size: 20px;
    font-weight: 500;
    color: #5b5b7b;
  }
}
.cancel-icon {
  position: absolute;
  font-size: 20px;
  right: 15px;
  top: 15px;
  color: #9658fe;
  cursor: pointer;
}

#custom-btn {
  margin-top: 30px;
  display: block;
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%);
}

.admin-create-brand {
  display: flex;
  align-items: flex-start;
}
.admin-banner-wrapper {
  margin-top: 80px;
}
.btn-create-brand {
  float: right;
  padding: 10px 45px;
  border-radius: 25px;
  margin-top: 30px;
}
