.text-white {
  color: $TEXT_WHITE;
}
.text-blue-black {
  color: $TEXT_BLUE_BLACK;
}
.text-gray {
  color: $TEXT_GRAY;
}
.text-gray-lighter {
  color: $TEXT_GRAY_LIGHTER;
}
.text-gray-darker {
  color: $TEXT_GRAY_DARKER;
}
.text-pink {
  color: $TEXT_PINK;
}

.text-amber {
  color: $TEXT_AMBER;
}
