select {
  font-size: 1.2rem;
  color: #4a4a4a;
  padding: 7px 1rem;
  background: transparent;
  font-weight: bold;
  border: 1px solid #e1e1e1;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #e1e1e1 50%),
    linear-gradient(135deg, #e1e1e1 50%, transparent 50%),
    linear-gradient(to right, #e1e1e1, #e1e1e1);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 3.2em) 0.2em;
  background-size: 5px 5px, 5px 5px, 1px 1.8em;
  background-repeat: no-repeat;

  &:focus {
    background: #f9f9f9;
    border: 1px solid #c5c5c5;
    background-image: linear-gradient(45deg, #c5c5c5 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, #c5c5c5 50%),
      linear-gradient(to right, #c5c5c5, #c5c5c5);
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
      calc(100% - 3.2em) 0.2em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    outline: none;
  }
}

option {
  font-weight: bold;
}
